<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
  
    <title>Audio Player</title>
  
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/mp3-audio.css">
    <link rel="stylesheet" href="css/index.css">
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src='js/jquery.svg3dtagcloud.min.js'></script>
    <script src="js/scripts.js"></script>
  </head>

<div class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Tabs Titles -->
      <!-- Icon -->
      <div class="fadeIn first">
        <!-- <img src="http://danielzawadzki.com/codepen/01/icon.svg" id="icon" alt="User Icon" /> -->
      </div>
  
      <!-- Login Form -->
      <br><br>
      <form action="/player" method="POST">
        <p class="fadeIn third introText">Welcome to the soundscapes tag challenge! Enter your name to save your score. Click below to get started or review the leaderboard.</p>
        <input style="width: 250px;" type="text" name="name" class="fadeIn third" placeholder="Enter Your Name">
        <input style="width: 250px;" type="submit" class="fadeIn third" value="Start Game">
      </form>
      <form action="/lb">
        <input style="width: 250px;" type="submit" class="fadeIn third" value="Leaderboard">
      </form>
  
      <!-- Remind Passowrd -->
      
      <div id="formFooter">
        <a class="underlineHover" href="#"></a>
      </div>
    </div>
  </div>

  <script>

  </script>